<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <database>
        <name>r2_Eversong</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_19</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>19</maxLevel>
        <maxSkill>150</maxSkill>
    </database>
    <database>
        <name>r2_Wetlands</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_29</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>29</maxLevel>
        <maxSkill>150</maxSkill>
    </database>
    <database>
        <name>r2_Stranglethorn</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_39</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>39</maxLevel>
        <maxSkill>225</maxSkill>
    </database>
    <database>
        <name>r2_Tanaris</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_49</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>49</maxLevel>
        <maxSkill>225</maxSkill>
    </database>
    <database>
        <name>r2_Plaguelands</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_60</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>60</maxLevel>
        <maxSkill>300</maxSkill>
    </database>
    <database>
        <name>r2_Outland</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_70</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>70</maxLevel>
        <maxSkill>375</maxSkill>
    </database>
    <database>
        <name>r2_Crystalsong</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_80</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>80</maxLevel>
        <maxSkill>450</maxSkill>
    </database>
    <database>
        <name>mangostwo_Eversong</name>
        <version>mangostwo</version>
        <url>jdbc:mysql://localhost:3306/mangostwo_characters_19</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>mangostwo_world</worldDbName>
        <maxLevel>19</maxLevel>
        <maxSkill>150</maxSkill>
    </database>
    <database>
        <name>r2_Crystalsong</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>80</maxLevel>
        <maxSkill>450</maxSkill>
    </database>
    <database>
        <name>mangoszero_Crystalsong</name>
        <version>mangoszero</version>
        <url>jdbc:mysql://localhost:3306/mangoszero_characters</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>mangoszero_world</worldDbName>
        <maxLevel>60</maxLevel>
        <maxSkill>300</maxSkill>
    </database>
    <database>
        <name>mangosone_Outland</name>
        <version>mangosone</version>
        <url>jdbc:mysql://localhost:3306/mangosone_characters</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>mangosone_world</worldDbName>
        <maxLevel>70</maxLevel>
        <maxSkill>375</maxSkill>
    </database>
</configuration>