<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <database>
        <name>r2_Eversong</name>
        <version>r2</version>
        <url>jdbc:mysql://localhost:3306/r2_characters_19</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>r2_world</worldDbName>
        <maxLevel>19</maxLevel>
        <maxSkill>150</maxSkill>
    </database>
    <database>
        <name>mangoszero_Crystalsong</name>
        <version>mangoszero</version>
        <url>jdbc:mysql://localhost:3306/mangoszero_characters</url>
        <driver>com.mysql.jdbc.Driver</driver>
        <username>root</username>
        <password>1</password>
        <worldDbName>mangoszero_world</worldDbName>
        <maxLevel>80</maxLevel>
        <maxSkill>450</maxSkill>
    </database>
</configuration>