@CHARSET "UTF-8";

body {
	overflow-y: scroll;
}

#bot-search-form {
	margin-right: 0;
	margin-left: 0;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
}

#bot-search-form:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Search Parameters";
}

.action-history .action, .action-history .push, .action-history .trigger {
	padding-right: 10px;
}

.action-history .trigger {
	padding-top: 10px;
}

.action-history .tab {
	padding-left: 40px;
}

.action-history .action.OK {
	color: #00F000;
}

.action-history .action.FAILED {
	color: red;
}

.action-history .action.IMPOSSIBLE {
	color: #514E4E;
}

.action-history .action.USELESS {
	color: gray;
}

.action-history .action.PREREQ {
	color: #00a000;
}

.pull-right {
	float: right;
}

.right-area {
    float: right;
    position: relative;
    top: 0px;
    padding-right: 20px;
}

#canvas {
	border: solid 1px gray;
}

#canvas .bot.combat {
	fill: yellow;
}

#canvas .bot.dead {
	fill: gray;
}

#canvas .bot {
	fill: white;
}

#canvas .target {
	fill: red;
}

#canvas .movement line {
	stroke: gray;
	stroke-width: 0.2px;
}

.sortOrder.sortDesc:after {
    content: '\25bc';
}

.sortOrder:after {
    content: '\25b2';
}

.sortable {
	cursor: pointer;
}

.bot-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bot-table {
	table-layout: fixed;
}

.bot-table th:nth-child(1) {
	width: 50px;
}

.bot-table th:nth-child(2) {
	width: 120px;
}

.bot-table th:nth-child(3) {
	width: 70px;
}

.bot-table th:nth-child(4) {
	width: 50px;
}

.bot-table th:nth-child(5) {
	width: 70px;
}

.bot-table th:nth-child(6) {
	width: 100px;
}

.bot-table th:nth-child(7) {
	width: 150px;
}

.bot-table th:nth-child(8) {
	width: 100px;
}

.bot-table th:nth-child(9) {
    width: 200px;
}

.right-area .values {
	table-layout: fixed;
	width: 300px;
}

.right-area .values thead {
    border-bottom: solid 1px gray;
}

.right-area .values td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-area .values th:nth-child(1) {
    width: 200px;
}

.right-area .values th:nth-child(2) {
    width: 100px;
}

.bot-problem-table {
    table-layout: fixed;
}

.bot-problem-table th:nth-child(1) {
    width: 50px;
}

.bot-problem-table th:nth-child(2) {
    width: 120px;
}

.bot-problem-table th:nth-child(3) {
    width: 70px;
}

.bot-problem-table th:nth-child(4) {
    width: 50px;
}

.bot-problem-table th:nth-child(5) {
    width: 70px;
}

.bot-map-0 {
}

.bot-map-1 {
	position: relative;
	left: 50%;
}

.bot-map .hover {
	fill: transparent;
	stroke: transparent;
}