@CHARSET "UTF-8";

body {
	overflow-y: scroll;
}

#bot-search-form {
	margin-right: 0;
	margin-left: 0;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
}

#bot-search-form:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Search Parameters";
}

.action-history .action, .action-history .push, .action-history .trigger {
	padding-right: 10px;
}

.action-history .trigger {
	padding-top: 10px;
}

.action-history .tab {
	padding-left: 40px;
}

.action-history .action.OK {
	color: green;
}

.action-history .action.FAILED {
	color: red;
}

.action-history .action.IMPOSSIBLE {
	color: #514E4E;
}

.action-history .action.USELESS {
	color: gray;
}

.pull-right {
	float: right;
}